@import './../../styles/variables.scss';

.btn {
  padding: 8px 16px;

  font-size: 12px;
  color: $secondary-color;

  background-color: $primary-color;
  border: 0;
  outline: 0;
  border-radius: $standard-radius;

  transition: all 0.3s linear;
}

.btn:hover {
  background-color: $primary-hover;
}

.btn:focus {
  outline: 0;
}
