@import './../../../../styles/variables.scss';

.container {
  display: block;
  width: 100%;
}

.listItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 30px;
  margin-bottom: 15px;

  background-color: $tile-background-color;
  border-radius: $standard-radius;

  .itemNumber {
    margin-right: 30px;

    font-size: 18px;
    font-weight: 800;
    color: $primary-color;

    @media (max-width: 462px) {
      margin-bottom: 15px;
      margin-right: 0;
    }
  }

  .infoWrapper {
    display: flex;

    @media (max-width: 462px) {
      width: 100%;
      flex-wrap: wrap;
    }

    @media (max-width: 389px) {
      justify-content: center;
    }
  }

  .itemDesc {
    padding-left: 30px;
    max-width: 600px;

    .descTitle {
      margin: 0;
      padding: 0;

      font-size: 15px;
      color: $primary-color;
      text-align: left;
    }

    .descArtist {
      font-size: 12px;
      margin-bottom: 0;
    }

    @media (max-width: 992px) {
      max-width: 400px;
    }

    @media (max-width: 768px) {
      max-width: 300px;
    }

    @media (max-width: 389px) {
      width: 100%;
      margin-top: 10px;
      padding-left: 0;

      .descTitle, .descArtist {
        text-align: center;
      }
    }
  }

  @media (max-width: 768px) {
    flex-wrap: wrap;
  }

  @media (max-width: 462px) {
    justify-content: center;
    padding: 15px 15px;
  }
}

.listItem:hover img {
  transform: scale(1.2);
}

.btnRightflex {
  margin-left: auto;

  @media (max-width: 768px) {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
  }
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

.fade {
  animation: fadeIn 1s;
}
