@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,800,800i');

//Color Variables
$primary-color: #B53471;
$secondary-color: #ffffff;
$background-color: #1c1e48;
$tile-background-color: #30336b;

//Font Variables
$main-font: 'Montserrat', sans-serif;
