@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,800,800i');

//Color Variables
$primary-color: #B53471;
$primary-hover: #CB3F81;
$secondary-color: #FFFFFF;
$background-color: #2B2D60;
$tile-background-color: #30336B;

//Font Variables
$main-font: 'Montserrat', sans-serif;

//Borders Variables
$standard-radius: 2px;
